.details {
  @media only screen and (max-width: 768px) {
    height: 1000px;
  }
  @media only screen and (min-width: 768px) {
    height: 500px;
  }
  height: 500px;
  margin-bottom: 70px;
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  .video-details {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    opacity: 0.9;
    padding: 15px;
    .close {
      background: none;
      color: white;
      border: 0;
    }
    .language {
      text-transform: uppercase;
      margin-bottom: 5px;
      font-size: 13px;
    }
    .title {
      font-size: 18px;
      margin-bottom: 5px;
    }
    .genre {
      padding: 3px 10px;
      border: 1px solid white;
      border-radius: 15px;
      margin-right: 10px;
      font-size: 12px;
      margin-bottom: 5px;
    }

    .stats {
      margin-top: 15px;
      margin-right: 10px;
      .like {
        margin-right: 10px;
      }
      .perct {
        font-size: 10px;
      }
    }
    .date {
      margin-top: 15px;
      .calendar {
        margin-right: 10px;
      }
      .trailer-date {
        font-size: 10px;
      }
    }
    .interest {
      margin-top: 285px;
      .yes {
        padding: 10px;
        border: 1px solid green;
        border-radius: 20px;
        color: green;
      }
      .no {
        padding: 10px;
        border: 1px solid red;
        border-radius: 20px;
        color: red;
      }
      .may-be {
        padding: 10px;
        border: 1px solid orange;
        border-radius: 20px;
        color: orange;
      }
      .count {
        font-size: 10px;
        text-align: center;
      }
    }
  }
}
