.card {
  width: 234px;
  height: 365px;
  border-radius: 4px;
  cursor: pointer;

  button {
    border: 0;
    padding: 0;
    outline: none;
  }
  .event-details {
    padding: 5px;
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .title {
      font-size: 14px;
    }
    .language {
      font-size: 11px;
      color: darkgray;
      span {
        margin-right: 3px;
      }
    }
    .rating {
      b {
        font-size: 14px;
      }
    }
    .fav {
      color: red;
      margin-right: 3px;
      font-size: 14px;
    }
  }
}
