.Header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  .navbar {
    background-color: black;
    padding: 5px 100px;
    border-bottom: 2px solid #ffffff;
    @media (max-width: 991px) {
      padding: 5px 10px;
      .navbar-toggler {
        display: none;
        font-size: 32px;
      }
    }
    .v-icon {
      font-size: 36px;
    }
    .navbar-nav {
      .nav-link,
      .nav-link:hover {
        color: #ffffff;
      }
      .nav-item {
        margin-right: 20px;
        button {
          width: 150px;
        }
      }
    }

    .navbar-brand {
      color: #ffffff;
      font-size: 32px;
      font-family: 'Indie Flower', cursive;
      &:hover {
        color: #ffffff;
      }
    }
  }
  .filters {
    background-color: black;
    padding: 10px;
    color: #ffffff;
    span {
      border: 1px solid white;
      padding: 5px 10px;
      border-radius: 20px;
      font-size: 14px;
      margin-right: 10px;
    }
    .remove-filter {
      background: none;
      border: 0;
      color: #fff;
    }
  }
}
