body {
  background-color: rgba(0, 0, 0, 0.8);
}
.container {
  max-width: 1400px;
}
.card-item {
  margin-bottom: 70px;
}

.card-section {
  margin-top: 170px;
}
.loader {
  height: calc(100vh - 122px);
}
